.banner {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #adacac;
  font-size: 20px; }

.job-wrapper {
  margin: 20px 20px;
  display: flex;
  justify-content: center; }

.job-show {
  width: 50%; }

.job-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px; }

.search-box {
  width: 70%;
  padding: 10px 20px;
  border-radius: 5px; }

.job-list {
  color: black;
  padding: 0 20px; }

.job-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 5px 5px; }

.left-side {
  display: flex;
  width: 70%;
  align-items: center; }

.company-img {
  width: 30%; }

.company-info {
  padding: 5px 10px; }

.right-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.right-side {
  text-align: center;
  display: block; }

.right-side p {
  padding: 3px 0; }

.appear {
  display: none; }

.right-container:hover .right-side {
  display: none; }

.right-container:hover .appear {
  display: flex; }

.btn-item {
  padding: 7px 10px;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #0b5339;
  color: #ddd;
  cursor: pointer;
  font-size: 12px; }

.listPage {
  display: flex;
  justify-content: center; }

.listPage-item {
  list-style: none;
  background-color: #1c782a;
  color: black;
  padding: 15px;
  margin: 0 5px;
  cursor: pointer; }
