.back-button {
  margin: 30px 20px; }

.button {
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: #A3C686;
  color: #000;
  text-decoration: none; }

.button:hover {
  background-color: #83a16b; }

.job-name {
  margin: 20px 45px; }

.job-link {
  margin: 20px 35px;
  display: flex; }

.link-social {
  background-color: white;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 15px 28px;
  border-radius: 9999px;
  text-decoration: none;
  color: #4f4d4d; }

.detail-heading {
  padding: 10px 10px; }

.detail-wrap {
  display: flex;
  margin: 40px 35px; }

.detail-wrap-item {
  width: 70%; }

.job-left {
  padding: 10px 20px; }

.job-item {
  padding: 20px 10px; }

.item-heading {
  padding: 5px 0; }

.job-right {
  transform: translateY(-60px);
  border: 1px solid #ddd;
  padding: 10px 20px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0; }

.company-container {
  text-align: center; }

.tencongty {
  padding: 10px 0;
  width: 200px; }

.js-view-company {
  margin: 20px 28px; }

.apply-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0; }

.js-apply {
  align-items: center;
  padding: 15px 30px; }

.detail-item {
  padding: 10px 0; }

.detail-item h4 {
  padding: 10px 0; }

.detail-item p {
  width: 150px;
  text-align: justify; }

.assistance-heading {
  padding: 20px 0;
  text-align: center; }

.message-wrap {
  display: flex; }

.history-wrapper {
  position: relative;
  width: 25%;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; }

.chat-container {
  width: 100%;
  margin: 0 20px; }

.chat-wrapper {
  height: 500px;
  display: flex;
  flex-direction: column; }

.container-guest {
  display: flex;
  align-items: center; }

.chat-img {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  border: 1px solid #000;
  margin: 0 20px; }

.chat-box {
  width: 500px;
  padding: 10px 10px;
  background-color: #DADDE1;
  height: fit-content;
  border: 1px solid #DADDE1; }

.container-host {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px; }

.text-input {
  float: bottom;
  display: flex;
  justify-content: center;
  align-items: center; }

.input {
  width: 70%;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #DADDE1; }

.back-history {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.return {
  border: 1px solid #3e3c3c;
  padding: 15px 45px;
  text-decoration: none;
  color: #191717; }

.icon {
  margin-right: 10px;
  color: #121111; }

.window {
  border: 1px solid #3e3c3c;
  padding: 15px 20px;
  margin: 0 10px;
  color: #0a0909;
  cursor: pointer; }

.history-wrapper.hide {
  display: none; }

.reopen {
  display: none;
  z-index: 100px;
  color: #0e0c0c;
  margin: 10px 20px; }

.re-window {
  font-size: 20px;
  position: absolute;
  cursor: pointer; }
