<div class="header-wrapper">
    <div class="header-left">
        <img src="/img/logo.png" alt="" class="logo">
        <a href="#" class="has-link header-item">HOME</a>
        <a href="#" class="has-link header-item">COMPANY</a>
        <a href="#" class="has-link header-item">COMPANY</a>
    </div>
    <div class="header-right">
        <a href="#" class=" has-link btn btn-signin">Sign in</a>
        <a href="#" class="has-link btn btn-signup">Sign up</a>
    </div>
</div>
    <div class="line"></div>