<div class="banner">
    <h3 class="banner-heading">The #1 JOB ABOARD FOR IT COMMUNITY </h3>
    <p>Let's explore our website to find out more opportunities!</p>
</div>

<div class="job-wrapper">
    <div class="job-show">
        <div class="job-search">
            <input class="search-box" type="text" value="" placeholder="Search job title.....">
        </div>
        <div class="job-list">
                        <div class="job-list-item">
                <div class="left-side">
                    <img class="company-img" src="https://cdn-new.topcv.vn/unsafe/150x/filters:format(webp)/https://static.topcv.vn/company_logos/cong-ty-tnhh-volio-viet-nam-60c026311c6ea.jpg" alt="">
                    <div class="company-info">
                         <h3>Company name</h3>
                         <p>Job title</p>
                    </div>
                </div>
                <div class="right-container">
                    <div class="right-side">
                        <p>Location</p>
                        <p>Time</p>
                    </div>  
                     <a class="appear has-link btn-item">Apply now</a>
                     <a class="appear has-link btn-item">Take test</a>
                </div>
            </div>
            <div class="job-list-item">
                <div class="left-side">
                    <img class="company-img" src="https://cdn-new.topcv.vn/unsafe/150x/filters:format(webp)/https://static.topcv.vn/company_logos/cong-ty-tnhh-volio-viet-nam-60c026311c6ea.jpg" alt="">
                    <div class="company-info">
                         <h3>Company name</h3>
                         <p>Job title</p>
                    </div>
                </div>
                <div class="right-container">
                    <div class="right-side">
                        <p>Location</p>
                        <p>Time</p>
                    </div>  
                     <a class="appear has-link btn-item">Apply now</a>
                     <a class="appear has-link btn-item">Take test</a>
                </div>
            </div>
        </div>
    </div>
    <div class="job-filter">
        <h3>filter</h3>
    </div>
</div>